@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
  }
}

body {
  color: var(--background);
  padding: 1rem;
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
